.mainContainer {
  height: 100vh;
  z-index: 1;
  flex-grow: 1;
  background-color: #0e1111;
  // background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0, 3s cubic-bezier(0.175, 0.885, 0.32, 1.27, 3);

  .icon {
    i {
      color: white;
      display: flex;
      justify-content: flex-start;
    }
  }

  .banner {
    height: 350px;
    position: relative;
    width: 100%;

    .bannerImg {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      object-fit: cover;
      // filter: grayscale(100);
    }
    .bannerText::-webkit-scrollbar {
      width: 5px;
    }
    .bannerText {
      position: absolute;
      overflow-x: hidden;
      overflow-y: scroll;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      height: 89%;
      margin-top: 40px;
      z-index: 4;

      h4 {
        height: 80%;
        text-align: center;
        color: #f1f1f1;
      }
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      z-index: 3;

      .breadCrump {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
          color: #f1f1f1;
          font-size: 18px;
          cursor: pointer;
        }

        p {
          color: #a0a0a0;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1px;

          span {
            color: #f1f1f1;
          }
        }
      }
    }

    .artist {
      margin-top: auto;
      color: #f1f1f1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        p {
          font-size: 14px;
          i {
            margin-right: 6px;
          }
          span {
            color: #a0a0a0;
            margin-left: 5px;
          }
        }
        .name {
          display: flex;
          align-items: center;
          h2 {
            font-size: 50px;
          }
          img {
            width: 30px;
            margin-left: 10px;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          padding: 10px 30px;
          font-size: 16px;
          color: #f1f1f1;
          margin: 0px 15px;
          border-radius: 100vh;
          background: #555;
          font-weight: blod;
          text-align: center;
          i {
            margin-right: 20px;
            font-size: 12px;
          }
        }
        a:nth-child(1) {
          background: #39aa24;
          margin-left: 0;
        }
        a:nth-child(2) {
          background: rgba(0, 0, 0, 0.3);
          margin-right: 0;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }

    .bottomLayer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2.5rem;
      // background-image: linear-gradient(transparent, rgb(0, 0, 0, 0.6));
      background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.4));
    }
  }

  .menuList {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 25px;
    background: rgb(255, 255, 255);

    border-bottom: 3.3px solid rgba(44, 43, 43, 0.29);
    // border-radius: 10px;

    ul {
      display: flex;
      align-items: center;

      li {
        list-style: none;
        margin: 0 20px;
        position: relative;
        a {
          text-decoration: none;
          color: black;
          font-size: 14px;
          font-weight: bold;
        }
      }
      li::before {
        position: absolute;
        content: "";
        bottom: -10px;
        left: 10px;
        width: 0px;
        height: 5px;
        border-radius: 5px;
      }

      li:hover::before,
      li.active::before {
        width: 20px;
        transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      li:hover a,
      li.active a {
        color: #9d9d9d;
        transition: 0.3s;
      }
    }

    p {
      color: #1c1c1c;
      font-size: 14px;
      font-weight: 700;
      i {
        margin-right: 6px;
        font-size: 15px;
        color: #1c1c1c;
      }

      span {
        font-size: 12px;
        margin-left: 6px;
        text-align: center;
        color: #1c1c1c;
      }
    }
  }

  //! Main audio list start

  .auidoList {
    padding: 10px 30px;
    width: 100%;

    .title {
      font-size: 18px;
      color: #f1f1f1;
      span {
        color: #a0a0a0;
        font-size: 12px;
      }
    }
    .songsContainer::-webkit-scrollbar {
      width: 5px;
    }
    .songsContainer {
      height: 220px;
      overflow-y: scroll;
      overflow-x: hidden;
      .songs {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: #a0a0a0;
        width: 100%;
        margin: 10px 0;
        padding: 5px;

        .count {
          margin-right: 10px;
        }
        .song {
          display: flex;
          align-items: center;
          width: 100%;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          padding-bottom: 5px;
          cursor: pointer;

          .imgBox {
            width: 45px;
            height: 45px;
            min-width: 45px;
            border-radius: 0.5em;
            background: #555;
            margin-right: 10px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .section {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            .songName {
              width: 50%;
              display: flex;
              justify-content: space-between;
            }

            .hits {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .duration {
                margin-right: 15px;
              }

              .favorite i {
                color: #27fd01;
                filter: drop-shadow(0px 0px 5px);
              }
              p {
                margin-right: 15px;
                i {
                  font-size: 12px;
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }

      .songs:hover,
      .songs.active {
        color: #f1f1f1;
        transition: 0, 3s;
      }
    }
  }
}

@media all and (max-width: 550px) {
  .mainContainer {
    min-width: 350px;
    .banner {
      .content {
        padding: 10px 15px;
        .artist {
          .right {
            a {
              padding: 5px 15px;
              font-size: 12px;
              margin: 0 10px;
            }
          }
        }
      }
    }

    .menuList {
      padding: 5px 10px;
      ul {
        li {
          margin: 0 5px;
        }
      }
      p {
        i {
          font-size: 10px;
        }
      }
    }

    .auidoList {
      padding: 10px 5px;
      .songs {
        .song {
          .section {
            margin-left: 5px;

            .songName {
              margin-right: 2px;
            }

            .hits {
              margin-right: 2px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 950px) {
  .Banner {
    height: 240px !important;
    position: relative;
  }
}
